.button{
    border: 0;
    background-color: var(--sidenav-black);
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0px 16px;
    border-radius: 4px;
}
.button svg{
    color: var(--text-gray);
}
.button p{
    color: var(--text-gray);
    margin: 0;
    margin-left: 16px;
}
.active {
    background-color: var(--sidenav-active);
}
.active svg,
.active p{
    color: var(--text-white);
}
.button:hover svg,
.button:hover p{
    color: var(--text-white);
}