.LibPage{
    background-color: #121212;
    color: #fff;
}
.Library{
    padding: 32px;
    margin-bottom: 95px;
}
.Library h2 {
    margin: 0;
}
.Grid{
    margin-top: 24px;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fill,minmax(var(--cards-column-width),1fr));
}