.footerMid{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.musicControl{
    width: 224px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}
.playBtn{
    width: 32px;
    height: 32px;
    border-radius: 32px;
    color: #000;
    border: none;
    background-color: #fff;
    padding: 0;
    transition: .2s;
}
.playBtn:hover{
    transform: scale(1.1);
}
.playBtn svg{
    fill: #000 !important;
}
.musicProgress{
    display: flex;
    justify-content: center;
    width: 100%;
}
.musicProgress span p{
    margin: 0px 8px;
    word-break: normal;
    font-size: 11px;
    color: rgb(179, 179, 179);
}
.musicProgress div{
    display: flex;
    align-items: center;
    width: 100%;
}
.musicProgress input {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}